<div class="chat-header">
  <div class="left-header">
    <div class="room-name">領域展開
    </div>
  </div>
  <div class="right-header">
    <div class="chat-exit">
      <a href="#">チャットを終了する</a>
    </div>
  </div>
</div>

<div class="contents">
  <div class=content>
    <div class="user-data">
      <div class="user">
        str
      </div>
      <div class="data">
        2020/3/31(web) 12:43:30
      </div>
    </div>
    <div class="lower-message">
      <div class="text">
        おはよう
      </div>
    </div>
  </div>

  <div class=content>
    <div class="user-data">
      <div class="user">
        sgr
      </div>
      <div class="data">
        2020/3/31(web) 12:46:46
      </div>
    </div>
    <div class="lower-message">
      <div class="text">
        おはよう
      </div>
    </div>
  </div>
</div>

<div class="form">
  <div class="form-input">
    <input placeholder="Type a message" class="messageform" >
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
    <input type="submit" value="送信" class="form-btn">
</div>