<div class="content">
  <div class="user-data">
    <div class="user">
      <%= message.user.name %>

    </div>
    <div class="data">
      <%= message.created_at %>

    </div>
  </div>
  <div class="lower-message">
    <div class="text">
      <%= message.content %>

    </div>
  </div>
</div>