<div class="side-header">
  <div class="user-name">
    <a href="#">str</a>
  </div>
  <div class="new-chat">
  <a href="#">チャットを作成する</a>
  </div>
</div>

<div class="rooms">
  <div class="room">
    <a href="#">room1</a>
  </div>
  <div class="room">
    <a href="#">room2</a>
  </div>
  <div class="room">
    <a href="#">room3</a>
  </div>
</div>